*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
@font-face {
    font-family: 'mont';
    src: url(Projeto-OnePage-main/Assets/Montserrat-VariableFont_wght.ttf);
}
.logo {
    width: 17rem;
}
.item {
    font: 500 1.5rem 'mont', sans-serif;
    color: #678471;
}
.item:hover{
    color: orange;
    transition: 0.6s;
    font: 500 1.875rem 'mont',sans-serif;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divisão {
 height: .0625rem;
 background-color: #47564c;
 margin: 23px 0;
}
#header {
    margin:  0 30px;
}
.nossaComida {
    width: 400px;
    height: auto;
}
.container {
    display: flex;
    margin: 0 80px;
}
.titulo {
    font: 500 33px 'mont', sans-serif;
    color: #47564c;
    margin-bottom: 30px;
}
.texto {
    font: 300 20px 'mont', sans-serif ;
    color: black;
    text-align: justify;
}
.conteudo {
    margin: 60px 0 0 40px;
}
.Mulher {
    width: 600px;
    border-radius: 8px;
}
 
.panelas {
    width: 600px;
    height: auto;
    border-radius: 8px;
    margin-left: 30px;
}
.comida {
    width: 150px;
}
.pratos {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
 
.prato {
    border: 2px solid black;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    padding: 8px 11px;
}
.cardapio-conteudo {
    display: flex;
    flex-direction: column;
}
.cardapio {
margin: 0 80px;
}
.nome, .preço {
    font: 700 18px 'mont',sans-serif;
}
.descrição {
font: 400 14px 'mont',sans-serif;
text-align: justify;
}
#contato {
    background-color: #678471 ;
    padding: 30px;
}
#contato .container {
    display: flex;
    
    align-items: center;
}
.icone {
    width: 40px;
    padding: 5px;
}
.name{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 80px;
}
.name .amm {
    font: 500 35px 'mont',sans-serif;
    color: white;
}
.name .cs {
    font: 500 20px 'mont',sans-serif;
    color: #ffa36a;
}
.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px ;
}
.rede {
    display: flex;
    text-align: center;
}
.endereco-titulo {
    font: 500 25px 'mont',sans-serif;
    color: white;
    text-align: justify;
}
.endereco-nome {
    font: 300 18px 'mont', sans-serif;
    color: white;
    text-align: justify;
}
.rede-nome {
    font: 300 18px 'mont', sans-serif;
    color: white;
}
html {
    scroll-behavior: smooth;
}
.comida:hover {
    width: 200px;
    cursor: pointer;
    transition: 0.6s;
}
@media screen and (max-width: 400px) {
    
}
@media screen and (max-width:400px) {
    .container{
        margin: 0;
        border: 0;
     display: block;
        padding: 0;
    }
    .Mulher, .panelas {
        width: 90vw;
        height: auto;
    }
    .imagem{
        text-align: center;
    }
    .titulo{
        font: 500 23px 'mont', sans-serif;
        margin: 10 0;
    }
    .item{
        font: 400 8px 'mont',sans-serif;
        padding: 0 2px;
    }
    .item:hover{
        font: 400 8px 'mont',sans-serif;
        color: #678471;
    }

    .menu{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .texto{
        font:300 15px 'mont',sans-serif;
    }
    .logo{
        width: 80vw;
        height: auto;
        margin-left: 25px;
    }
    #header .menu{
        display: block;
    }
    .conteudo{
        margin: 0 10px;
        border: 0;
        padding: 0;
    }
    .prato{
        width: 80vw;
        margin: 10px 0;
        
    }

    .cardapio {
        margin: 0 20px; 
    }

    #nossaEquipe .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .section{
        margin: 20px 0 0;
    }

    #contato .container{
       display: flex;
        flex-direction: column;
        margin: 0;
        border: 0;
        padding: 0;
        flex-wrap: nowrap;
    }

    .name{
        width: 90vw;
        text-align: center;
        margin: 0;
    }
    .name .amm{
        font: 500 30px 'mont',sans-serif;
        margin: 10px 0 0;
    }
    .redes{
        display: block;
        margin: 0;
        width: 90vw;
    }
    .redes {
        display: flex;
        text-align: center;
        margin: 20px 0;
    }

     .endereco{
        width: 90vw;
        margin-bottom: 100px;
     }
     
    

}